USE [dbTask]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](255) NULL,
	[ActionTime] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[UserID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConversationParticipants]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationParticipants](
	[ConversationID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[JoinedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastMessageAt] [datetime] NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Message] [nvarchar](255) NULL,
	[IsRead] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[MessageID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskAssignments]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[AssigneeID] [int] NULL,
	[AssignedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatorID] [int] NULL,
	[DepartmentID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Priority] [nvarchar](20) NULL,
	[StatusID] [int] NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[ProjectID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskStatistics]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatistics](
	[StatID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TotalTasks] [int] NULL DEFAULT ((0)),
	[CompletedTasks] [int] NULL DEFAULT ((0)),
	[LateTasks] [int] NULL DEFAULT ((0)),
	[UpdatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[StatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskStatuses]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/08/2025 4:16:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
	[DepartmentID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[Avatar] [nvarchar](255) NULL,
	[Mobile] [varchar](15) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionTime]) VALUES (1, 13, N'Đăng nhập hệ thống', CAST(N'2025-07-17 22:48:16.777' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionTime]) VALUES (2, 14, N'Phân công công việc cho nhân viên', CAST(N'2025-07-17 22:48:16.777' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionTime]) VALUES (3, 15, N'Bình luận trong công việc', CAST(N'2025-07-17 22:48:16.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (6, N'Phòng Kỹ thuật')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (7, N'Phòng Nhân sự')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (8, N'Phòng Kế toán')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [MessageID]) VALUES (1, 13, N'Bạn được giao công việc "Thiết kế UI"', 0, CAST(N'2025-07-17 22:47:53.907' AS DateTime), NULL)
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [MessageID]) VALUES (2, 14, N'Bạn được giao công việc "Test hệ thống"', 0, CAST(N'2025-07-17 22:47:53.907' AS DateTime), NULL)
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [MessageID]) VALUES (3, 15, N'Trạng thái công việc đã được cập nhật', 0, CAST(N'2025-07-17 22:47:53.907' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedBy], [CreatedAt]) VALUES (8, N'Dự án Hệ Thống Quản Lý Sinh Viên', N'Nâng cấp website', CAST(N'2025-06-01' AS Date), CAST(N'2027-12-01' AS Date), N'Hoàn thành', 13, CAST(N'2025-08-25 02:06:09.703' AS DateTime))
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedBy], [CreatedAt]) VALUES (13, N'Phân tích và thiết kế hệ thống App Todolist', N'Thực hiện công việc theo đúng chuẩn app Todo , sắp xếp, bố trí các thư mục hợp lý để người dùng dễ dàng thao tác', CAST(N'2025-12-31' AS Date), CAST(N'2027-01-11' AS Date), N'Hoàn thành', 13, CAST(N'2025-08-08 21:28:46.317' AS DateTime))
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedBy], [CreatedAt]) VALUES (18, N'Dự án Phầm mềm chấm bài thi', N'Dự án phải hoàn thành sơm hơn dự kiến', CAST(N'2025-09-08' AS Date), CAST(N'2028-12-08' AS Date), N'Đang thực hiện', 13, CAST(N'2025-08-08 21:28:20.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (7, N'Giám đốc')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (8, N'Trưởng phòng')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (9, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TaskAssignments] ON 

INSERT [dbo].[TaskAssignments] ([AssignmentID], [TaskID], [AssigneeID], [AssignedAt]) VALUES (39, 17, 33, CAST(N'2025-08-02 03:16:32.410' AS DateTime))
INSERT [dbo].[TaskAssignments] ([AssignmentID], [TaskID], [AssigneeID], [AssignedAt]) VALUES (41, 19, 21, CAST(N'2025-08-02 06:08:40.543' AS DateTime))
INSERT [dbo].[TaskAssignments] ([AssignmentID], [TaskID], [AssigneeID], [AssignedAt]) VALUES (42, 20, 23, CAST(N'2025-08-02 07:02:14.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaskAssignments] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [CreatorID], [DepartmentID], [StartDate], [EndDate], [Priority], [StatusID], [CreatedAt], [ProjectID]) VALUES (17, N'Xuất báo cáo tháng 8', N'Phải hoàn thành sớm nhất để tổng hợp báo cáo lên Ban giám đốc', 38, 8, CAST(N'2025-08-02' AS Date), CAST(N'2025-08-03' AS Date), N'Trung bình', 9, CAST(N'2025-08-02 03:16:32.380' AS DateTime), 13)
INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [CreatorID], [DepartmentID], [StartDate], [EndDate], [Priority], [StatusID], [CreatedAt], [ProjectID]) VALUES (19, N'Thiết kế giao diện', N'Phải hoàn thành trước ngày 10', 14, 10, CAST(N'2025-09-08' AS Date), CAST(N'2025-12-10' AS Date), N'Trung bình', 9, CAST(N'2025-08-02 06:08:40.523' AS DateTime), 18)
INSERT [dbo].[Tasks] ([TaskID], [Title], [Description], [CreatorID], [DepartmentID], [StartDate], [EndDate], [Priority], [StatusID], [CreatedAt], [ProjectID]) VALUES (20, N'Trực tiếp phỏng vấn thực tập sinh tháng 9', N'Ưu tiên các trường gần khu vực', 13, 7, CAST(N'2025-08-03' AS Date), CAST(N'2025-08-05' AS Date), N'Trung bình', 10, CAST(N'2025-08-02 07:02:14.197' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[TaskStatistics] ON 

INSERT [dbo].[TaskStatistics] ([StatID], [UserID], [TotalTasks], [CompletedTasks], [LateTasks], [UpdatedAt]) VALUES (1, 13, 5, 3, 1, CAST(N'2025-07-17 22:47:34.200' AS DateTime))
INSERT [dbo].[TaskStatistics] ([StatID], [UserID], [TotalTasks], [CompletedTasks], [LateTasks], [UpdatedAt]) VALUES (2, 14, 4, 2, 0, CAST(N'2025-07-17 22:47:34.200' AS DateTime))
INSERT [dbo].[TaskStatistics] ([StatID], [UserID], [TotalTasks], [CompletedTasks], [LateTasks], [UpdatedAt]) VALUES (3, 15, 6, 4, 2, CAST(N'2025-07-17 22:47:34.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaskStatistics] OFF
SET IDENTITY_INSERT [dbo].[TaskStatuses] ON 

INSERT [dbo].[TaskStatuses] ([StatusID], [StatusName]) VALUES (8, N'Chưa bắt đầu')
INSERT [dbo].[TaskStatuses] ([StatusID], [StatusName]) VALUES (9, N'Đang thực hiện')
INSERT [dbo].[TaskStatuses] ([StatusID], [StatusName]) VALUES (10, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[TaskStatuses] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [DepartmentID], [Status], [CreatedAt], [Avatar], [Mobile], [Address]) VALUES (13, N'Đoàn Trung Quý', N'giamdoc@example.com', N'$2a$11$89tZdxk5hD7fy8Ec30RW1uON.pFGmdzR0Z.f1pWTh1dF/78kZqhre', 7, 9, 1, CAST(N'2025-08-08 21:03:09.193' AS DateTime), N'https://localhost:7143/FileUploads/3ea24901-1e29-4265-a8d0-d1ce9ef8aa65.jpg', N'0865510677', N'Hồ Chí Minh')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [DepartmentID], [Status], [CreatedAt], [Avatar], [Mobile], [Address]) VALUES (14, N'Nguyễn Dương Quế ', N'truongphong@example.com', N'$2a$11$92GHMANoxmFOdQWPTwVtLe758Mf9H8gcoTWI793Mid3q0ECgCoRXa', 8, 7, 1, CAST(N'2025-08-08 21:06:05.713' AS DateTime), N'https://localhost:7143/FileUploads/d827375d-e738-4c06-b4b0-8d78cee95951.jpg', N'0987239997', N'Cần Thơ')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [DepartmentID], [Status], [CreatedAt], [Avatar], [Mobile], [Address]) VALUES (15, N'Sử Hoàng Đô', N'nhanvien@example.com', N'$2a$11$hkjUbBVkAO6Q0W.uoVWF8e7ad9DtH8RgbkAr15pQwpMNUHXr.6s2C', 9, 7, 1, CAST(N'2025-07-31 13:33:51.573' AS DateTime), N'', N'0943285673', N'Đồng Tháp')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D105349F4BA099]    Script Date: 26/08/2025 4:16:46 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[ConversationParticipants] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ConversationParticipants]  WITH CHECK ADD FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[ConversationParticipants]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([MessageID])
REFERENCES [dbo].[Messages] ([MessageID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD FOREIGN KEY([AssigneeID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[TaskStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[TaskStatistics]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
